/**
 * Archetype-c-spacers
 * 
 * Add margins, paddings, and unpaddings using consistient spacing units derived from the 
 * vertical rhythm, the grid, or the modular scale
 */
@import '_c-spacers-settings';

/**
 * Vertically Separated
 *
 * Adds top and bottom margins to container
 */
%vertMargined {
  margin-top: map-get($spacerUnits, full);
  margin-bottom: map-get($spacerUnits, full);
}

/**
 * Vertically Padded
 * 
 * Adds top and bottom padding to container
 */
%vertPadded {
  padding-top: map-get($spacerUnits, full);
  padding-bottom: map-get($spacerUnits, full);
}

/**
 * Top margined
 * 
 * Adds top margin to container
 */
%topMargined {
  margin-top: map-get($spacerUnits, full);
}

/**
 * Top Padded
 * 
 * Adds top padding to container
 */
%topPadded {
  padding-top: map-get($spacerUnits, full);
}

/**
 * Bottom margined
 * 
 * Adds bottom margin to container
 */
%bottomMargined {
  bottom-margin: map-get($spacerUnits, full);
}

/**
 * Bottom Padded
 * 
 * Adds bottom padding to container
 */
%bottomPadded {
  bottom-padding: map-get($spacerUnits, full);
}

/**
 * Side Spacers
 */

/**
 * Margined Container
 * 
 * Adds standard padding unit as side margins
 */
%marginedContainer {
  margin-left: map-get($marginUnits, marginedContainer);
  margin-right: map-get($marginUnits, marginedContainer);
}

/**
 * Padded Container
 * 
 * Adds standard padding unit as side padding
 */
%paddedContainer {
  padding-left: map-get($paddingUnits, paddedContainer);
  padding-right: map-get($paddingUnits, paddedContainer);
}

/**
 * Extra Padded Container
 * 
 * Adds an extra padding unit as side padding
 */
%extraPaddedContainer {
  padding-left: map-get($paddingUnits, extraPaddedContainer);
  padding-right: map-get($paddingUnits, extraPaddedContainer);
}

/**
 * Unpadded Container
 * 
 * Allows a container to bleed to the border of its parent
 */

/**
 * Full Bleed
 */
%vertBleed {
  padding-left: map-get($spacerBleeds, full);
  padding-right: map-get($spacerBleeds, full);
}

/**
 * Half Bleed
 */
%topBleed {
  padding-left: map-get($spacerBleeds, half);
  padding-right: map-get($spacerBleeds, half);
}

/**
 * Third Bleed
 */
%bottomBleed {
  padding-left: map-get($spacerBleeds, third);
  padding-right: map-get($spacerBleeds, third);
}

/**
 * Bleed Container
 */
%bleedContainer {
  padding-left: map-get($spacerBleeds, bleed);
  padding-right: map-get($spacerBleeds, bleed);
}

/**
 * Extra Bleed Container
 */
%extraBleedContainer {
  padding-left: map-get($spacerBleeds, extraBleed);
  padding-right: map-get($spacerBleeds, extraBleed);
}

