/**
 * Archetype-c-spacers Settings
 * 
 */
$spacerUnit: convert-to-em(16px) !global;

/**
 * Spacer Units
 *
 * apply consistient box model spacing
 */
$spacerUnits: (
  full: $spacerUnit, 
  half: $spacerUnit / 2,
  third: $spacerUnit / 3,
  quarter: $spacerUnit / 4,
  double: $spacerUnit * 2
);

/**
 * Margin Units
 *
 * derived from $spacerUnits map
 */
$marginUnits: (
  vert: map-get($spacerUnits, full),
  top: map-get($spacerUnits, full),
  bottom: map-get($spacerUnits, full),
  marginedContainer: map-get($spacerUnits, full),
  extraMarginedContainer: map-get($spacerUnits, full)
);

/**
 * Padding Units
 *
 * derived from $spacerUnits map
 */
$paddingUnits: (
  vert: map-get($spacerUnits, full),
  top: map-get($spacerUnits, full),
  bottom: map-get($spacerUnits, full),
  fullPaddedContainer: map-get($spacerUnits, full),
  extraPaddedContainer: map-get($spacerUnits, full)
);

/**
 * Spacer Bleeds
 *
 * allow child elements to bleed to parent container 
 * derived from $spacerUnits map
 */
$spacerBleeds: (
  vert: map-get($marginUnits, vert) * -1,
  top: map-get($marginUnits, top) * -1,
  bottom: map-get($marginUnits, bottom) * -1,
  bleed: map-get($marginUnits, marginedContainer) * -1,
  extraBleed: map-get($marginUnits, extraMarginedContainer) * -1
);

