/*** @export "structure-units" css */
/**
 * Structure Units
 * 
 */
$spacerUnit:                              16px !default;

$spacerUnits: (
  half: $spacerUnit / 2,
  third: $spacerUnit / 3,
  quarter: $spacerUnit / 4,
  double: $spacerUnit * 2,
  fullBleed: $spacerUnit * -1,
  extraFullBleed: $spacerUnit * -2,
);

/**
 * Spacers
 */
$spacerUnit--half:                       map-get($spacerUnits, half) !default;
$spacerUnit--third:                      map-get($spacerUnits, third) !default;
$spacerUnit--quarter:                    map-get($spacerUnits, quarter) !default;
$spacerUnit--double:                     map-get($spacerUnits, double) !default;
$fullBleed:                              map-get($spacerUnits, fullBleed) !default;
$extraFullBleed:                         map-get($spacerUnits, extraFullBleed) !default;

$vert-margined:                           $spacerUnit !default;
$vert-padded:                             $spacerUnit !default;
$top-margined:                            $spacerUnit !default;
$top-padded:                              $spacerUnit !default;
$bottom-margined:                         $spacerUnit !default;
$bottom-padded:                           $spacerUnit !default;
$margined-container:                      $spacerUnit !default;
$padded-container:                        $spacerUnit !default;
$extra-padded-container:                  $spacerUnit--double !default;

